Flask==3.1.1
Flask-SocketIO==5.5.1
opencv-python==4.12.0.88
python-dotenv==1.1.1

openvino==2025.2.0
pymongo==4.13.2
torch==2.7.1
ultralytics==8.3.166
seaborn==0.13.2
gitpython>=3.1.30
onnx==1.18.0

python-engineio>=4.7.1
python-socketio>=5.12.0